@import "mixins", "reset", "fonts";

body {
  overflow-x: hidden;
  font-size: 18px;
}

// 스파
.wrap {
  #header {
    width: 100%;
    height: 150px;
    padding: 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1000;
    .header_gnb {
      ul {
        display: flex;
        gap: 100px;
        li {
          font-size: 20px;
          a {
            color: #fff;
          }
        }
      }
    }
    .header_icon {
      ul {
        display: flex;
        gap: 30px;
      }
    }
  }

  #spa_introduce {
    width: 100vw;
    .spa_introduce_title {
      width: 100%;
      height: 100vh;
      position: relative;
      background-image: url(../../images/spa/top01.png);
      background-size: 100vw;
      .spa_introduce_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        h2 {
          text-align: center;
          font-size: 60px;
          line-height: 1.2;
          font-weight: 900;
          margin-bottom: 20px;
        }
      }
    }
    .spa_nav {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        gap: 100px;
        li {
          a {
            color: #555;
          }
          &:first-child {
            a {
              font-weight: 700;
              color: #8443ce;
            }
          }
        }
      }
    }
    .spa_introduce_contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .spa_video {
        margin-top: 100px;
      }
      .spa_introduce_txt {
        margin: 50px 0 60px 0;
      }
      .spa_introduce_btn {
        ul {
          display: flex;
          gap: 30px;
          li {
            button {
              width: 450px;
              height: 100px;
              border: 1px solid #333;
              a {
                font-family: "Pretendard";
              }
            }
          }
        }
      }
      .spa_introduce_slide {
        width: 100%;
        padding-top: 150px;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            padding: 0 250px;
            img {
              width: 720px;
            }
            .spa_slide_txt {
              text-align: left;
              h4 {
                font-weight: 800;
              }
              p {
                margin: 30px 0;
              }
              ul {
                li {
                  display: flex;
                  flex-direction: column;
                  strong {
                    font-weight: 700;
                  }
                  span {
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
        .swiper-pagination {
          margin-top: 30px;
          .swiper-pagination-bullet-active {
            background: #8443ce;
          }
        }
      }
      .spa_introduce_offline {
        padding: 0 250px;
        margin-top: 150px;
        h3 {
          font-weight: 700;
          margin-bottom: 40px;
        }
        ul {
          width: 100%;
          display: flex;
          gap: 30px;
          li {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            img {
              width: 100%;
              margin-bottom: 20px;
            }
            strong {
              font-weight: 700;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  #spa_howto {
    width: 100vw;
    .spa_howto_title {
      width: 100%;
      height: 100vh;
      position: relative;
      background-image: url(../../images/spa/top02.png);
      background-size: 100vw;
      .spa_howto_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        h2 {
          text-align: center;
          font-size: 60px;
          line-height: 1.2;
          font-weight: 900;
          margin-bottom: 20px;
        }
      }
    }
    .spa_nav {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        gap: 100px;
        li {
          a {
            color: #555;
          }
          &:last-child {
            a {
              font-weight: 700;
              color: #8443ce;
            }
          }
        }
      }
    }
    .spa_howto_contents {
      text-align: center;
      .spa_howto_step {
        margin-top: 100px;
        h3 {
          font-weight: 700;
          margin-bottom: 50px;
        }
        .step1,
        .step2,
        .step3 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          h4 {
            color: #8443ce;
            font-weight: 700;
            margin-right: 40px;
          }
          p {
            text-align: left;
            width: 580px;
            strong {
              font-weight: 700;
            }
          }
        }
      }
      .spa_howto_buy {
        padding: 0 250px;
        margin-top: 150px;
        h3 {
          font-weight: 700;
          margin-bottom: 20px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          gap: 10px;
          li {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: #f8f8f8;
            border-radius: 20px;
            img {
              width: 260px;
              margin-bottom: 20px;
            }
            span {
              font-size: 16px;
            }
          }
        }
      }
      .spa_howto_reserve {
        padding: 0 250px;
        margin-top: 150px;
        h3 {
          font-weight: 700;
          margin-bottom: 20px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          gap: 10px;
          li {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: #f8f8f8;
            border-radius: 20px;
            img {
              width: 260px;
              margin-bottom: 20px;
            }
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  #footer {
    width: 100%;
    height: 400px;
    margin-top: 200px;
    padding-top: 80px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    color: #555;
    .footer_left {
      display: flex;
      padding-left: 250px;
      .footer_app {
        h2 {
          font-weight: 800;
          margin-bottom: 20px;
        }
        .footer_app_button {
          ul {
            li {
              button {
                border: 1px solid #555;
                width: 180px;
                height: 60px;
                &:first-child {
                  margin-bottom: 10px;
                }
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #555;
                  img {
                    width: 20px;
                    margin-right: 10px;
                  }
                  span {
                    font-size: 16px;
                    font-family: "Pretendard";
                  }
                }
              }
            }
          }
        }
      }
      .footer_call {
        padding-left: 80px;
        h2 {
          font-weight: 800;
          margin-bottom: 20px;
        }
        p {
          &:nth-child(3) {
            margin-bottom: 20px;
          }
          a {
            display: flex;
            align-items: center;
            color: #555;
            img {
              width: 20px;
              margin-right: 6px;
            }
          }
        }
      }
    }
    .footer_right {
      text-align: right;
      padding-right: 250px;
      .footer_txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .footer_txt_button {
          a {
            font-weight: 800;
            margin-left: 30px;
            color: #555;
          }
        }
        .footer_txt_copyright {
          margin-top: 40px;
        }
      }
    }
  }
}
